<h1>Добавить курс</h1>

<form action="/add" method="POST">
  <div class="row">  
    <div class="input-field">
      <label for="title">Название курса</label>
      <input type="text" class="validate" id="title" required>    
      <span class="helper-text" data-error="Введите название"></span>
    </div>

    <div class="input-field">
      <label for="price">Цена курса</label>
      <input type="text" class="validate" id="price" required>    
      <span class="helper-text" data-error="Введите цену"></span>
    </div>

    <div class="input-field">
      <label for="img">Адрес картинки</label>
      <input type="text" class="validate" id="img" required>          
    </div>
  </div>  

  <button class="btn btn-primary">Добавить курс</button>

</form>